* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
 }
 body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a{
    color: black;
}
.container{
    width: 100%;
    padding-left:4%;
    padding-right:3%;
    margin-left: auto;
    margin-right: auto;

   
}
:root{
    --mainColor:#0048A6;
    --buttonColor:#267CF4;
    --lightGrey:#71717aaf;
}
section{
   width: 100%;
   margin: 0;
   padding: 0;
   position: relative;

}
section.hero{
    background-image: linear-gradient(white, #c5e9fb);
    margin-top: 10px;
}
section .containe{
    width: 100%;
    padding-left:4%;
    padding-right:3%;
    margin-left: auto;
    margin-right: auto;
   
   
}
.contenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    
}
.inctro{
    width: auto;
    margin-top:3%;
}
.inctro h1{
    font-size: 48px;
    font-weight: 700;
}
.inctro p{
    font-size: 20px;
    font-weight: 400;
    color: var(--lightGrey);
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.title h2{
    font-size: 48px;
    letter-spacing: -2.4;
    font-family: 700;
    margin: 10px;
}
.title p{
    font-size: 16px;
    font-weight: 300;
    margin: auto;
    color: var(--lightGrey);
}
.carres{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
    grid-gap: 50px;
    text-align: left;
    margin: 38px 60px

}

.carres .column {
    padding: 20px 2.5rem;
    border: 1px solid #71717a4a;
    border-radius: 8px;
 }
 .carres .column span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.187);
    padding: 12px;
 }
 .carres .column p{
    margin: auto;
    color: var(--lightGrey);
    font-size: 16px;
    font-weight: lighter;
 }

 /* =====start explorer =====*/

.explorer .titre{
    width: 100%;
     display: block;
    text-align: center;
    padding: 2%;
}
.titre h2{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2.4px;
    margin: auto;
} 
.titre p{
    font-size: 16px;
    font-weight: 300;
    color: var(--lightGrey);
    margin: auto;
}
.landing-posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-top: 20px;
    justify-items: center;
    gap: 20px;

}

.post{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: auto;
  height: 225px;
  border: 1px solid var(--lightGrey);
  border-radius: 12px;
  padding: 20px;
}
.post-header{
    display: flex;
    gap: 12px;
    align-items: center;
}
.avatar{
    width: 60px;
    height: 60px;
    border: 0.4px solid black;
    border-radius: 50%;
}
.post-header-content .post-header-name{
    font-weight: 600;
    font-size: 16px;

}
.post-header-content .post-header-time{
    font-size: 14px;
    font-weight:400;
    color:var(--lightGrey)
}
.description{
    display: flex;
    flex:1;
}
.description p{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.icone{
    display: flex;
    align-items: center;
    gap: 12px;
   
}
.like{
    display: flex;
    align-items: center;
    gap: 3px;
}
.commenter{
    display: flex;
    align-items: center;
    gap: 3px;
}

/* ASSOCIATIONS */

section.association{
    margin-top: 3%;
}
.association .titre{
    text-align: center;
    padding: 2%;
}
.slides{
    margin: 30px 0;
    display: flex;
    gap: 162px;
}
.slides .photo-profil{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.avatar{
    overflow:hidden;
}
.avatar img{
 width:100%;
}

/* REJOINDRE */
section.rejoindre{
    background-color: #00aeff;
   
    
}
.rejoindre .info{
    text-align: center;
    padding: 54px 337px;
}
.info h2{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2.4px;
    margin: auto;
    color:white;
}
.info p {
    font-size: 16px;
    font-weight: 300;
    color: var(--lightGrey);
    margin: auto;
    color:whit;
}
.boutton{
   padding:3% 30%;
}

.rejoindre a{
    color: white;
    width: fit-content;
    display: block;
    background-color:green;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
}

/* START FOOTER  */
footer{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom:0 ;
    
  }
  .logo p{
    color: var(--lightGrey);
    font-size: 14px;
  }
  footer .footer-link{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
   
  }
  .column ul{
display: flex;
flex-direction: column;
gap: 20px;
list-style: none;
padding: 0;
  }
  .column ul li a{
    text-decoration: none;
    color: var(--lightGrey);
    
}
.copyright{
    display: block;
    border-top: 1px solid rgb(3, 3, 3);
    text-align: center;
    padding: 20px 0;
}

.column h3{
    color: var(--lightGrey);
}

